.home {
  padding: 0 15rem;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  h3 {
    color: darken($color: $main-text, $amount: 30);
  }
}

.information__description {
  color: $red;
  font-size: 1.6rem;
  font-family: "Roboto Condensed", "Teko", sans-serif;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.information__name {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 8rem;
  line-height: 1.1;
}

.information__paragraph {
  margin-top: 4rem;
  font-size: 1.6rem;
  max-width: 62rem;
  line-height: 1.3;
}

.btn {
  text-decoration: none;
  color: $background-color;
  font-size: 2.4rem;
  background-color: $main-text;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  box-shadow: #e9322f66 0px 2px 4px;
  transition: box-shadow 0.2s, color 0.2s ease-in-out;
  margin-top: 5rem;

  &:hover {
    box-shadow: #e9322f66 0px 7px 13px -3px, #e9322f33 0px -3px 0px inset;
    color: darken($color: $red, $amount: 20);
  }
}

.external-link {
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: $red;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      transform: scale(1);
    }
  }

  &:link,
  &:visited {
    color: $red;
  }

  &:hover,
  &:active {
    color: $red;
  }
}
////////////////////////

@media (max-width: 830px) {
  .information__name {
    font-size: 4rem;
  }

  .information__paragraph {
    font-size: 1.2rem;
  }

  .home {
    padding: 0 10rem;
  }

  .btn {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 640px) {
  .btn {
    font-size: 1.8rem;
    right: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    margin-top: 5rem;
  }

  .home {
    padding: 0 7rem;
  }
}

@media (max-width: 470px) {
  .information__name {
    font-size: 2rem;
  }

  .information__paragraph,
  .information__description {
    font-size: 1.2rem;
  }

  .home {
    padding: 0 6rem;
  }
}
