.link {
  text-decoration: none;
  color: $background-color;
  font-size: 2.4rem;
  position: absolute;
  bottom: 10%;
  right: 50%;
  background-color: $main-text;
  padding: 1rem 2rem;
  font-weight: 700;
  transform: translate(50%, 50%);
  border-radius: 0.5rem;
  box-shadow: #e9322f66 0px 2px 4px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: #e9322f66 0px 7px 13px -3px, #e9322f33 0px -3px 0px inset;
  }
}
////////////////////////

@media (max-width: 640px) {
  .link {
    font-size: 1.8rem;
  }
}
