@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Teko:wght@300;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Roboto Condensed", "Teko", sans-serif;
  background-color: $background-color;
  // overflow: hidden;
  color: $main-text;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $red $background-color;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $background-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $red;
  border-radius: 10px;
  border: 3px solid $background-color;
}

::-moz-selection {
  color: $background-color;
  background: $red;
}
::selection {
  color: $background-color;
  background: $red;
}

/* dibuja el texto seleccionado en un parrafo de color blanco y negro*/
p::-moz-selection {
  color: $background-color;
  background: $red;
}
p::selection {
  color: $background-color;
  background: $red;
}
